*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.todo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 3rem;
    width: 400px;
}
.todo-main{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
.todo-title{
    background-color: rgb(240, 45, 143);
    color: #fff;
    text-align: center;
}
.todo-options{
    border: none;
}
.todo-add{
    background-color: rgb(240, 45, 143);
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
}
.todo-text{
    border-radius: 5px;
    border-color: #b1b9bf;
    width: 200px;
    height: 40px;
}
ul{
    list-style-type:  none;
}